h1  {
	font-size: 5em;
	text-align: left;
	color: #000000;
	font-family: Comic Sans MS;
}

div.scrollmenu  {
	background-color: #000000;
	overflow: auto;
	white-space: nowrap;
}

div.scrollmenu a  {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-weight: bold;
  font-family: Comic Sans MS;
}

div.scrollmenu a:hover  {
	background-color: #4169E1;
}

p  {
	font-size: 2em;
	font-family: Arial;
	color: #000000;
	
}

body {
    background-image: url("car3.jpg");
	background-size: 1920px 1080px;
}